.categories {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.categories__list {
  position: relative;

  @include list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-top: -120px;
    padding: 0 50px;
  }
}

.categories__list::after {
  @media (min-width: $tablet-width) {
    content: "  ";
    position: absolute;
    bottom: -10px;
    left: 0;

    width: $tablet-width;
    height: 22px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat;
    background-size: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    bottom: -5px;
    width: $desktop-width;
    background-size: 1250px;
    background-position: -50px top;
  }
}

.categories__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 103px;

  padding-left: 30px;
  padding-right: 50%;

  font-size: $big;
  line-height: 24px;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  background-color: $green;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 118px;
    padding-left: 36px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    padding-right: 65%;
  }
}

.categories__link::after {
  content: "  ";
  position: absolute;
  right: 36px;
  top: 22px;

  width: 40px;
  height: 62px;

  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  opacity: 50%;

  @media (min-width: $tablet-width) {
    top: 30px;
  }
}

.categories__link:hover,
.categories__link:focus {
  background-color: $green--lighten;
  transition: 0.2s;
}

.categories__link:hover::after,
.categories__link:focus::after {
  opacity: 70%;
}

.categories__link:active::after {
  opacity: 30%;
}

.categories__link--dark {
  background-color: $green--dark;
}

.categories__link--dark::after {
  width: 60px;
  height: 60px;
  right: 27px;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    right: 35px;
  }
}
