.color__field-name {
  @media (min-width: $tablet-width) {
    top: 68px;
  }
}

.color__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
    padding-bottom: 24px;

    background-color: $gray--bg-light;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 24px;
  }
}

.color__item {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 238px;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 262px;
  }
}

.color__item:last-child {
  margin-bottom: 0;
}
