.copyright__text {
  font-size: $big;
  line-height: 20px;
  font-weight: bold;
  color: $black;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 0;
  text-decoration: none;
}
