.page-header {
  width: 320px;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  padding: 22px 30px;

  box-shadow: 0 1px 0 $gray--border, inset 0 -1px 0 $gray--border;
}

.page-header__logo {
  flex-grow: 1;
}

.page-header__logo-image {
  display: block;
  margin-left: 85px;
}

.page-header__toggle {
  width: 21px;
  height: 20px;
  margin: 0;
  padding: 0;

  background-image: url("../img/icon-menu-close.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;

  &--open {
    background-image: url("../img/icon-menu-open.svg");
  }
}
