.page-main__head {
  padding: 72px 38px;
  text-align: center;

  background-color: $gray--bg;

  &--index {
    padding-bottom: 120px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top -18px;
  }
}

.page-main__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: $black;
}
