.promo-list {
  display: none;

  @media (min-width: $desktop-width) {
    @include list-reset;
    position: absolute;
    z-index: 1;
    left: 50px;
    bottom: -42px;

    display: flex;
    flex-direction: row;
  }
}

.promo-list__link {
  @include nav-link;

  @media (min-width: $desktop-width) {
    margin-right: 60px;
    padding: 0;

    font-size: $small;
    border: 0;
  }
}
