.section-table {
  width: 100%;
  border-collapse: collapse;
}

.section-table__row {
  vertical-align: top;
}

.section-table__cell {
  padding: 10px 0 5px;
}

.section-table__link {
  padding-bottom: 5px;
  text-decoration: none;
  color: $gray--text;
  border-bottom: 1px solid $green--lightest;
}
