.social__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 140px;
  margin: 0 auto;
}

.social__link {
  display: flex;
  justify-content: center;

  background-repeat: no-repeat;
  background-position: center;
}
