$light-green: #63d1bb;
$dark-green: #56c3b2;

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__link {
  display: block;
  padding: 27px 130px 27px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  background-color: $light-green;
}
.categories__link::after {
    content: " ";
    position: absolute;
    width: 40px;
    height: 62px;
    right: 36px;
    top: 22px;

    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    opacity: 50%;
  }
.categories__link--dark {
    background-color: $dark-green;
  }
.categories__link--dark::after {
    width: 60px;
    height: 60px;
    right: 27px;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
  }
