.featured {
  padding: 35px 30px;
  /*border-image: url("../img/bg-zigzag-line.svg") 2 fill;*/
  border-bottom: 1px solid #f1f1f1;
}

.featured__type {
  display: block;
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}

.featured__text {
  margin: 0 0 30px;
  font-size: 15px;
  line-height: 24px;
}

.featured__table {
  margin-bottom: 30px;
}

.featured__cell {
  width: 98px;
}

.featured__image {
  margin-bottom: 30px;
}

.featured__price {
  display: block;
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
}
