@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin nav-link {
  position: relative;
  display: flex;
  padding: 27px 30px 27px 76px;

  font-size: $medium;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: $black;

  border-bottom: 1px solid $gray--border;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
