.page-footer {
    padding: 25px 30px;
    background-color: #f1f1f1;
}

.page-footer__social {
  padding-bottom: 26px;
  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 60px;
  list-style: none;
}

.social__link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 40px 0;
}

.copyright__text {
  font-size: 19px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}
