body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: $small;
  line-height: 24px;
  color: $gray--text;

  background-color: $white;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
